body {
  max-width: 1300px;
  min-width: 359px;
  margin: 0 auto;
}



.logo{
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-list-recipes {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  min-width: 310px;

  flex-wrap: wrap;

}

.ingredient-name{
  text-transform: capitalize;
}

.article-recipe {
  height: 364px;
  width: 380px;
  margin: 20px;
  border-radius: 5px;
}

.picture-recipe {
  width: 100%;
  height: 50%;
  background-color: #c7bebe;
}

.informations-recipe {
  width: 100%;
  height: 50%;
  background-color: #e7e7e7;
}

.name-and-timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-recipe,
.timer-recipe {
  font-size: 18px;
  font-weight: bold;
}

.name-recipe {
  margin-left: 20px;
  width: 65%;
}

.timer-recipe {
  margin-right: 20px;
}

.recipe-description {
  font-size: 12px;
  width: 45%;
  margin-right: 20px;

  height: 82px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.list-of-ingredients {
  width: 55%;
  margin-left: 20px;
}

.ingredients-and-description {
  display: flex;
  justify-content: space-around;
}

.ingredients-recipe {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* search-bar */

.searchbox-main {
  display: flex;
  justify-content: center;
}

#searchbox-input {
  height: 50px;
  width: 80%;
  border: none;
  padding-left: 20px;
  color: #000000;
  background-color: #e7e7e7;
}

/* filter */
.filters-section {
  display: flex;
  flex-direction: row;
}

.ingredients-input-and-filters,
.appliances-input-and-filters,
.ustensils-input-and-filters {
  display: none;
}

.ingredients-filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  height: 400px;
  background-color: #3282f7;
  max-width: 700px;
}
.cursor-none{

  pointer-events: none;
}

.appliances-filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #68d9a4;
  max-width: 700px;
}

.ustensils-filter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #ed6454;
  max-width: 700px;
}

input::-webkit-search-cancel-button{
  display: none;
}

.button-filter-ingredients, 
.button-filter-cooking-tools,
.button-filter-appliances {
  width: 200px;
 
  
  height:  45px;
  border: none;
  background: none;
  color: white;
  text-transform: capitalize;
}

.button-filter-ingredients:hover, 
.button-filter-cooking-tools:hover,
.button-filter-appliances:hover{
  cursor: pointer;
  border: 1px solid;
}

.button-ingredient,
.button-appliance,
.button-ustensil {
  margin: 10px;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  color: white;
}

.button-ingredient {
  background-color: #3282f7;
}

.button-appliance {
  background-color: #68d9a4;
}

.button-ustensil {
  background-color: #ed6454;
}

#search-filter-ingredient-input,
#search-filter-appliance-input,
#search-filter-ustensil-input {
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

#search-filter-ingredient-input:focus,
#search-filter-appliance-input:focus,
#search-filter-ustensil-input:focus {
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#search-filter-ingredient-input::placeholder,
#search-filter-appliance-input::placeholder,
#search-filter-ustensil-input::placeholder {
  color: white;
  font-weight: 300;
}

#search-filter-ingredient-input {
  background-color: #3282f7;
}
#search-filter-appliance-input {
  background-color: #68d9a4;
}
#search-filter-ustensil-input {
  background-color: #ed6454;
}
.carrot-egg,
.blender,
.utensils {
  display: none;
}
.title {
  display: block;
}
.search-glass{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #e7e7e7;
 width: 50px;
}
.filter-selection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ustensil-selection-filter,
.appliance-selection-filter,
.ingredient-selection-filter{
  margin: 5px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.ustensil-selection-filter{
  background-color:#ed6454;
}

.appliance-selection-filter{
  background-color: #68d9a4
}
.ingredient-selection-filter{
  background-color: #3282f7
}
.selection-filter{
  text-transform: capitalize;
}

@media (max-width: 865px) {
  .title {
    display: none;
  }
  .carrot-egg,
  .blender,
  .utensils {
    display: block;
  }

  .button-appliance,
  .button-ingredient,
  .button-ustensil {
    width: 100px;
  }

  .filters-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section-list-recipes {
    position: static;
  }
}
